body {
    background-color: #4a5872;
    background-image: url("phare_avec_lune.jpeg");
    background-position: top center;
    background-repeat: no-repeat;
}

.info {
    color: white;
}

#login {
    text-align: center;

}