<html xmlns:th="https://www.thymeleaf.org">
<body>
Bienvenue Admin
<br/>
<a th:href="@{/}">Index</a>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" th:action="@{/admin}">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
            <a th:href="@{/admin/delete/{file}(file=${file.substring(49)})}">Supprimer</a>

            <br/>
            <video th:src="${file}" controls width="600"></video>
         </li>
    </ul>
</div>
<a th:href="@{/admin/pageenplus/{string}(string=${string})}">La page en plus</a>
<div th:if="${string}">
    <h2 th:text="${string}"/>
</div>



</body>
</html>




