<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <title>Bienvenue!</title>
</head>
<body>



<span th:if="${admin}" > <a th:href="@{/admin}">Admin</a> </span></br>
           <a class="nav-link" th:href="@{/logout}">Déconnexion</a>

<div>
    <ul>
        <li th:each="file : ${files}">
            <p th:text="${file.substring(49)}"></p>
            <video th:src="${file}" controls width="600"></video>
        </li>
    </ul>

</div>
</body>
</html>